*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

#toolbar{
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    top:0;
    background-color: #2f2f2f;
    color: white;
}
.radcontrol{
    width:30px;
    height:30px;
    background-color:gray;
    display:inline-block;
    text-align: center;
    padding: 5px;
}
#rad{
    float: left;
}
#colors{
    float: right; 
}
.swatch{
    width: 30px;
    height: 30px;
    border-radius:15px;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.5),0px 2px 2px
rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left:10px;
}
.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.clear{
    float: right; 

}


input {
    font: 30px sans-serif;
}
#imageLoader{
    height: 30px;
    float: left;
    margin-left: 325px;

}
#upload{
    height: 30px;
    float: left;
    margin-left: 325px;
    background-color:white;
}
#canvas{
     cursor: url(images/pencil.png), auto ;
}

#colorSelector{

    height: 30px;
    float: left;
    margin-left: 325px;

}
.eraser{
    width: 30px;
    height: 30px;
    border-radius:15px;
    box-shadow:inset 0px 1px 0px rgba(255,255,255,0.5),0px 2px 2px
rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 500px;
}